
/* Media query*/
@media (max-width: 500px) {
    .video-grid {
      grid-template-columns: 1fr;
      font-size: 14px;
    }
  }
  
@media (min-width: 501px) and (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 16px;
    line-height: 24px;
  }
}
  
 