@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 70px;
    bottom: 0;
    z-index: 200;
    background-color: #fff;
  }

  .sidebar-link {
    height: 89px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: #fff;
  }

  .sidebar-link:hover {
    background-color: lightgray;
  }

  .sidebar-link img {
    height: 24px;
  }

  .sidebar-link div {
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 240px;
    z-index: 200;
    padding-top: 13px;
    background-color: white;
  }


  .sidebar-link {
    display: flex;
    /* Optional default of justify-content is start */
    /* justify-content: start; */
    align-items: center;
    gap: 24px;
    cursor: pointer;
    padding: 8px 24px;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 14px;
  }
}